---
import Layout from "../layouts/Layout.astro";
import TaskList from "../components/TaskList.svelte";
import TaskForm from "../components/TaskForm.svelte";
---

<Layout>
	<h1 class="text-3xl text-center mb-5">Task manager</h1>
	<div class="flex flex-col items-center justify-center min-w-80">
		<TaskForm client:load />
		<TaskList client:load />
	</div>
</Layout>
